{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Главная - Велопрокат</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <header>
      <h1>Велопрокат</h1>
    </header>
    <nav>
      <a href="/">Главная</a>
      <a href="/about/">О нас</a>
      <a href="/bikes/">Список велосипедов</a>
      <a href="/contact/">Контакты</a>
    </nav>
    <div class="container">
      <h2>Добро пожаловать!</h2>
      <p>
        Мы предлагаем вам лучшие велосипеды для аренды. Выберите из нашего
        широкого ассортимента!!!
      </p>
    </div>
  </body>
</html>
